html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}
div {
  box-sizing: border-box;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sliding-text {
  height: 100vh;
  flex-direction: column;
}

#sliding-text h1 {
  font-size: 3.5em;
  font-weight: 400;
}
#sliding-text h2 {
  font-size: 2em;
  font-weight: 200;
}

#aboutme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#aboutme li {
  text-align: justify;
  text-justify: inter-word;
}

#aboutme div {
  padding: 1em;
  width: 35%;
}
#aboutme h3 {
  font-weight: 400;
}

#aboutme li {
  font-weight: 300;
}

#what-i-did {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  background-color: #024249;
}

#linkedin-logo,
#instagram-logo {
  padding: 15px;
}

a {
  color: #f4f3f1;
}

a:visited {
  color: #f4f3f1;
}

a:hover {
  color: #f4f3f1;
}

a:active {
  color: #f4f3f1;
}

hr.top-horizontal-line {
  border: 1px solid #024249;
  width: 35%;
  margin-bottom: 2em;
}
hr.bottom-horizontal-line {
  border: 1px solid #024249;
  width: 35%;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width: 620px) {
  #sliding-text,
  #contact {
    width: 100%;
  }
  #aboutme div {
    width: 90%;
  }
  #sliding-text h1 {
    font-size: 3em;
  }
  #sliding-text h2 {
    font-size: 1.5em;
  }

  hr.top-horizontal-line,
  hr.bottom-horizontal-line {
    width: 90%;
  }
}
