html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
  height: 100vh;
  background: #024249;
  flex-flow: column;
}

#section1 h1 {
  font-family: "Raleway", sans-serif;
  color: #aaa;
  font-size: 3.5em;
  font-weight: 200;
}
#section1 h2 {
  font-family: "Raleway", sans-serif;
  color: #888;
  font-size: 2em;
}

#section2 {
  background-color: #16817a;
  flex-flow: column;
}

#aboutme {
  height: calc(100vh - 46px);
  background-color: #fa744f;
  flex-flow: column;
}

#aboutme h1,
h2 {
  color: #024249;
  font-family: "Raleway", sans-serif;
  font-size: 3.5em;
  font-weight: 200;
}

.menu {
  display: flex;
}

#contact {
  background-color: #f79071;
}

#linkedin-logo,
#instagram-logo {
  padding: 15px;
}

a {
  color: #888;
}

a:visited {
  color: #888;
}

a:hover {
  color: #888;
}

a:active {
  color: #888;
}

@media (max-width: 620px) {
  /* For mobile phones: */
  #section1,
  #section2,
  #aboutme,
  #contact {
    width: 100%;
    font-size: 60%;
  }
}
