.header-container {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  background: #024249;
  width: 100%;
}

.header-container a {
  text-decoration: none;
}

.header-item {
  font-weight: 300;
  color: #f4f3f1;
  padding: 14px 16px;
}

.header-item:hover {
  background-color: #ddd;
  color: black;
}
